Animate route change*/

[ui-view].ng-enter {
  transition: all 1s ease;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}


/*?*/
/*.my-form {
  transition:all linear 0.5s;
  background: transparent;
}
.my-form.ng-invalid {
  background: red;
}*/


/*animate box on click*/
/*.highlight {
  transition:0.5s linear all;
}
.highlight.on-add {
  background:white;
}
.highlight.on {
  background:yellow;
}
.highlight.on-remove {
  background:black;
}
