* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
/*font-family: 'Proxima N W01 Reg';*/
font-size: 18px;
letter-spacing: 1px;
}

a {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /*margin: 0 auto -50px;  the bottom margin is the negative value of the footer's height */
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}


main {
  text-align: center;
}

header {
  text-transform: uppercase;
}

#juicy-logo {
  padding-left: 15px;
}

form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#exampleInputEmail1.red-border {
  border: 2px solid red;
}
