<h5>cart</h5>

<div ng-controller="ViewJuiceController as vm">
<table class="centered">
  <thead>
    <tr>
        <th data-field="id">Juice</th>
        <th data-field="name">Price</th>
        <th data-field="price">Quantity</th>
        <th data-field="price">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="juice in vm.juicesNutritions track by $index">
      <td>{{juice.title}}</td>
      <!-- <td>{{cart.juices.size}}</td> -->
    </tr>
    <tr ng-repeat="juice in vm.juicesNutritions track by $index">
      <td>{{juice.price}}</td>
      <td>{{}}</td>
    </tr>
  </tbody>
</table>

  </div>
  <div id="nut-card" ng-repeat="juice in vm.juicesNutritions track by $index">
    <div id="inside-nut-card" class="card">
      <h5>{{juice.title}}</h5>
      <ul>
        <li class="juice-names" ng-repeat="ing in juice.ingredients track by $index">
          {{ing}} <span class="juice-names" ng-if="!$last"> | </span>
        </li>
      </ul>
      <ul>
        <li id="nut-list" ng-repeat="nut in juice.nutrients track by $index">
          {{nut.name}} - <span id="nut-vals">{{nut.value | number:1}} {{nut.unit}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="card" id="size-card">
  <div class="card-content">
    <h6>step three: choose pick up or delivery time</h6>
  </div>
  <div class="row" id="step3">
    <div class="col s4 m4 l4">
      <ul>
        <li ng-class="{'text-highlight': vm.colorPickup()}" ng-click="vm.addPickup()"><a class="hoverable waves-effect waves-light btn-default delivery-buttons">Pick Up</a></li>
        <li ng-class="{'text-highlight': vm.colorDelivery()}" ng-click="vm.addDelivery()"><a class="hoverable waves-effect waves-light btn-default delivery-buttons">Delivery</a></li>
      </ul>
    </div>
    <div id="time-selector">
      <form ng-submit="vm.testData()" name="myForm">
        <div class="col s5 m5 l5">
          <label for="exampleInput">Select a time:</label>
          <input type="time" id="exampleInput" name="timeSelect"
                 ng-model="vm.newJuice.timeSelect" placeholder="HH:mm:ss"
                 min="07:00:00" max="21:00:00" required />
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">Field Required</span>
            <span class="error" ng-show="myForm.input.$error.time">Not a valid time</span>
          </div>
        </div>
        <div class="col s5 m5 l5" id="date">
          <div class="right">
            <label for="datepicker">Select a Date:</label>
            <input ng-required="true" ng-model="vm.selDate" type="date"
                   class="datepicker" name="selDate" required />
            <span class="error" ng-show="myForm.input.$error.required">Fields Required</span>
          </div>
        </div>
         <button class="right waves-effect waves-light btn" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>

<div class="row" id="view-juice-buttons">
  <div id="view-juice" class="col s3">
    <a class="waves-effect waves-light btn">Update</a>
  </div>
  <div id="view-juice" class="col s3">
    <a class="waves-effect waves-light btn" ng-click="vm.returnToOrder()">Checkout</a>
  </div>
</div>










