<h4>{{ vm.authService.currentUser().name }}'s Profile</h4>

<h5>Update your user info</h5>

<form ng-submit="vm.submitUpdate();">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input ng-model="vm.formData.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input ng-model="vm.formData.name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input ng-model="vm.formData.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Password confirmation</label>
    <input ng-model="vm.formData.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>
