<div class="row">
<div>
  <div id="juicy" class="z-depth-1 title">
    <h1>Juicy</h1>
    <h6 class="slogan">Some Juicy slogan goes here.</h6>
  </div>
</div>
</div>
<h4>ORDER</h4>

<div class="card" id="ing-card" ng-controller="OrderController as vm">
  <div class="card-content">
    <h6>step one: choose your vegetables</h6>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <h6>fruits</h6>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'fruit'}">
        <ul class="fruit">
          <li>{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
    <div  class="col s3 m3 l3">
      <h6>vegetables</h6>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'vegetable'}">
        <ul class="fruit">
          <li>{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
    <div class="col s3 m3 l3">
      <h6>sweet</h6>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'sweet'}">
        <ul class="fruit">
          <li>{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
     <div class="col s3 m3 l3">
      <h6>extras</h6>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'extras'}">
        <ul class="fruit">
          <li>{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card" id="size-card">
  <div class="card-content">
    <h6>step two: choose your size</h6>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <h6>12 oz</h6>
      <h6>$6</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>16 oz</h6>
      <h6>$8</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>20 oz</h6>
      <h6>$12</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>32 oz</h6>
      <h6>$18</h6>
    </div>
  </div>
</div>
<div class="card" id="size-card">
  <div class="card-content">
    <h6>step three: choose pick up or delivery time</h6>
  </div>
  <div class="row">
    <div id="delivery-buttons" class="col s4 m4 l4">
      <a class="waves-effect waves-light btn">Pick Up</a>
      <a class="waves-effect waves-light btn">Delivery</a>
    </div>
   <!--  <div ng-controller="OrderController">
      <form name="myForm">
          <label for="singleSelect"> Single select: </label><br>
          <select ng-model="vm.timeSelect" ng-options="" name="singleSelect">
            <option value="option-1">Option 1</option>
            <option value="option-2">Option 2</option>
          </select>
      </form> -->

    </div>
  </div>
    </div>
    <div class="col s3 m3 l3">
    </div>
    <div class="col s3 m3 l3">
    </div>
  </div>
</div>
<a class="waves-effect waves-light btn">Add Juice</a>


