<div class="row">
<div>
  <div id="juicy" class="z-depth-1 title">
    <h1>Juicy</h1>
    <h6 class="slogan">Some Juicy slogan goes here.</h6>
  </div>
</div>
</div>
<h4>ORDER</h4>

<div class="card" id="ing-card" >
  <div class="card-content">
    <h6>step one: choose your ingredient</h6>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <h6>fruits</h6>
      <hr>
      <div ng-model="newJuice" ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'fruit'}">
        <ul class="fruit" ng-model="vm.data.ingredients[$index].myStyle" ng-click="ingredient.myStyle = !ingredient.myStyle">
          <li ng-class="{'myStyle': ingredient.myStyle}" ng-click="vm.addIng(ingredient.name); ">{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
    <div  class="col s3 m3 l3">
      <h6>vegetables</h6>
      <hr>
      <div ng-model="newJuice" ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'vegetable'}">
        <ul class="fruit" ng-model="vm.data.ingredients[$index].myStyle" ng-click="ingredient.myStyle = !ingredient.myStyle">
          <li ng-class="{'myStyle': ingredient.myStyle}" ng-click="vm.addIng(ingredient.name); ">{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
    <div class="col s3 m3 l3">
      <h6>sweet</h6>
      <hr>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'sweet'}">
        <ul class="fruit" ng-model="vm.data.ingredients[$index].myStyle" ng-click="ingredient.myStyle = !ingredient.myStyle">
          <li ng-class="{'myStyle': ingredient.myStyle}" ng-click="vm.addIng(ingredient.name); ">{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
     <div class="col s3 m3 l3">
      <h6>extras</h6>
      <hr>
      <div ng-repeat="ingredient in vm.data.ingredients | filter: {type: 'extras'}">
        <ul class="fruit" ng-model="vm.data.ingredients[$index].myStyle" ng-click="ingredient.myStyle = !ingredient.myStyle">
          <li ng-class="{'myStyle': ingredient.myStyle}" ng-click="vm.addIng(ingredient.name); ">{{ ingredient.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="card" id="size-card">
  <div class="card-content">
    <h6>step two: choose your size</h6>
  </div>
  <div class="row">
    <div class="col s3 m3 l3">
      <h6>12 oz</h6>
      <h6>$6</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>16 oz</h6>
      <h6>$8</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>20 oz</h6>
      <h6>$12</h6>
    </div>
    <div class="col s3 m3 l3">
      <h6>32 oz</h6>
      <h6>$18</h6>
    </div>
  </div>
</div>
<div class="card" id="size-card">
  <div class="card-content">
    <h6>step three: choose pick up or delivery time</h6>
  </div>
  <div class="row" id="step3">
    <div class="col s4 m4 l4">
      <ul>
        <li><a class="waves-effect waves-light btn delivery-buttons">Pick Up</a></li>
        <li><a class="waves-effect waves-light btn delivery-buttons">Delivery</a></li>
      </ul>
    </div>
    <div id="time-selector">
      <form name="myForm">
        <div class="col s5 m5 l5">
          <label for="exampleInput">Select a time:</label>
          <input type="time" id="exampleInput" name="input" ng-model="vm.timeSelect" placeholder="HH:mm:ss" min="08:00:00" max="17:00:00" required />
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">Field Required</span>
            <span class="error" ng-show="myForm.input.$error.time">Not a valid time</span>
          </div>
        </div>
      </form>
        <div class="col s5 m5 l5" id="date">
        <form name="myForm" class="right">
          <label for="datepicker">Select a Date:</label>
          <input type="date" class="datepicker">
        </form>
      </div>
    </div>
  </div>
</div>
    <div class="col s3 m3 l3">
    </div>
  </div>
</div>
<a class="waves-effect waves-light btn">Add Juice</a>


